$font-family: 'Roboto sans KR','Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;

$default-color: rgb(0, 0 ,0);
$white-color: rgb(255,255,255);
$point-color: rgb(25, 118, 210);
$red-color: rgb(234, 97, 96);
$blue-color: rgb(0, 144, 193);
$gary-color: rgb(236, 236, 236);
$orange-color: rgb(251, 140, 0);

$blue-btn: rgb(25, 145, 235);
$gary-btn: rgb(120, 124, 125);

@mixin h2-title{
    margin: 30px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfe1e5;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #333;
}
@mixin h3-title{
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #333;
    .fa-asterisk{
        position: relative;
        margin: 0 5px;
        top: -3px;
        font-size: 10px;
        color: #ff0017;
        transform: scale(0.7);
    }
    &::before{
        content: '';
        position: relative;
        top: -1px;
        width: 2px;
        height: 12px;
        margin-right: 8px;
        background: $default-color;
    }
    .userName{
        color: #1867c0;
    }
}
@mixin form-bx{
    padding: 15px 0;
    border: 1px solid #ececec;
    background: #fcfcfc;
}
@mixin form-info{
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #dfdfdf;
    .fa-asterisk{
        font-size: 10px;
        color: #ff0017;
        transform: scale(0.7);
    }
    .infoCont{
        display: flex;
        flex-direction: row;
        border-top: 1px solid #dfdfdf;
        &:first-child{
            border-top: 0;
        }
    }
    .formInfoTxt{
        width: 250px;
        flex: 0 0 250px;
        margin-right: 10px;
        padding: 15px 12px;
        background: #f6f6f6;
        font-size: 13px;
        font-weight: 600;
        &.small{
            flex: 0 0 130px;
            width: 130px;
        }
    }
    .formInfoArea{
        display: flex;
        align-items: center;
        font-size: 12px;
        flex: 1 1;
        .InfoDesc{
            white-space: nowrap;
        }
        &.flex3{
            flex: 0 0 500px;
        }
        &.flexColumn{
            flex-direction: column;
            align-items: end;
            padding: 5px 0;
            .col-sm-3{
                flex: none;
            }
        }
        .list{
            width: 98%;
            height: 350px;
            margin-top: 5px;
            margin-bottom: 0;
            border: 1px solid $gary-color;
            border-radius: 3px;
            img{
                height: 100%;
            }
        }
    }
}

@mixin form-font{
    flex: 0 0 55px;
    width: 55px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
}
